<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
<%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag  'map', media: 'all', 'data-turbolinks-track' => true %>
<input type="hidden" id="api-token" value="<%= @user.token %>">
<div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="class-with-space white">
                <div class="row">
                    <div class="col-sm-6">

                      <% if @user.image.length == 0 %>
                      <%= image_tag("noprof.png", :class => "dashboard-image") %>
                      <% elsif @user.image %>
                      <%= image_tag("#{@user.image}", :class => "dashboard-image") %>
                      <% end %>



                      <h1 class="dashboard-username"> <%= @user.username %> </h1>
                      <p class="dashboard-total"><%= @user_points %></p>

                      <% userArray = [] %>
                      <% @users.each do |x| %>
                      <% userArray.push(x) %>
                      <% end %>
                      <% leaderBoardArray = userArray.sort_by {|user| -user.visits.length} %>

                      <% selectedPersonScore = leaderBoardArray.index(@user) + 1%>
                      <% selectedPersonScore %>

                      <p class="dashboard-rank">Current Ranking: <%= selectedPersonScore %></p>
                    </div>

                    <div class="col-sm-6">
                      <h1 class="dashboard-welcome">Welcome back, <%= @user.username %></h1>
                    </div>
                </div>

                <div class="row">
                  <div class="col-sm-8">
                    <button id="refresh">More pizza!</button>
                    <button class="pick">Find pizza near me!</button>
                    <h3>Map</h3>
                    <div class="map-container">
                      <div id="map"></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <h3>Add Visit</h3>
                    <form>
                      <label>Restaurant:</label>
                      <input id="restaurant-name" type="text" name="name" readonly>

                      <label>Write about your experience:</label>
                      <textarea id="restaurant-review" name="Text1" rows="10" placeholder="Test"></textarea>
                      <input id="restaurant-id" type="hidden">
                      <input id='submit-visit' type="button" value="Add Visit">


                    </form>


                    <div id="modal">
                      <div class="modal-content">
                        <span id="close-modal">X</span>
                        <div class="modal-body">
                          <!-- <%= image_tag("catpizza.gif", :class => "dashboard-modal") %> -->
                          <div class="modal-inner">
                            <%= image_tag("gif2.gif", :class => "dashboard-modal") %>
                            <h3>Your visit has been logged!</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
