<input type="hidden" id="api-token" value="<%= @user.token %>">






<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="class-with-space white">

                <!-- Big header w/ username -->

                <div class="row">
                    <div class="col-sm-12">
                      <h1 class="profile-username"> <%= @user.username %> </h1>
                    </div>
                </div>


                <hr />



<!-- <h3>welcome back <%= @user.username %></h3> -->


                  <div class="row">
                    <div class="col-sm-8">
                      <div class="class-with-space">

                        <% if @user.image == nil || @user.image.length == 0 %>

                        <%= image_tag("noprof.png", :class => "profile-image") %>


                        <% elsif @user.image %>

                        <%= image_tag("#{@user.image}", :class => "profile-image") %>

                        <% end %>
                        <p class="profile-points"><%= @user_points %></p>
                        <p class="profile-ranking">Current Ranking: #93</p>
                        <p class="profile-bio">Part-time actor, full-time pizza lover. People's Sexiest Man Alive 1984. Pepperoni all the way.</p>
                      </div>
                      <div class="class-with-space">

                        <h3>Add a review:</h3>
                        <div class="extra-bottom">
                          <form class="new-visit" action="/api/visits" method="post">
                              <input type="text" name="visit[review]" placeholder="...review">
                              <input type="submit" name="review" value="New Visit Review">
                          </form>
                        </div>

                        <hr />

                        <ul class="visits">

                        </ul>

                    </div>
                    </div>
                    <div class="col-sm-4">
                      <h3>Places I've been:</h3>
                      <div class="profile-places">
                          <div class="block">
                            <h4>Joe's Pizza</h4>
                            <p>'Twas good.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                          <div class="block">
                            <h4>Tony's Pizza</h4>
                            <p>Sickass garlic knots.</p>
                          </div>
                      </div>
                      <hr />
                    </div>
                </div>



<%= javascript_include_tag 'users' %>



      </div>
    </div>
  </div>
</div>
