<input type="hidden" id="api-token" value="<%= @user.token %>">






<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="class-with-space white">

                <!-- Big header w/ username -->

                <div class="row">
                    <div class="col-sm-12">
                      <h1 class="profile-username"> <%= @user.username %> </h1>
                    </div>
                </div>


                <hr />



<!-- <h3>welcome back <%= @user.username %></h3> -->


                  <div class="row">
                    <div class="col-sm-8">
                      <div class="class-with-space">

                        <% if @user.image == nil || @user.image.length == 0 %>

                        <%= image_tag("noprof.png", :class => "profile-image") %>


                        <% elsif @user.image %>

                        <%= image_tag("#{@user.image}", :class => "profile-image") %>

                        <% end %>
                        <p class="profile-points"><%= @user_points %></p>



                        <% userArray = [] %>
                        <% @users.each do |x| %>
                        <% userArray.push(x) %>
                        <% end %>
                        <% leaderBoardArray = userArray.sort_by {|user| -user.visits.length} %>

                        <% selectedPersonScore = leaderBoardArray.index(@user) + 1%>
                        <% selectedPersonScore %>


                        <p class="profile-ranking">Current Ranking: <%= selectedPersonScore %></p>

                        <p class="profile-bio"> <%= @user.tagline %> </p>
                      </div>
                      <div class="class-with-space">

                        <h3>Add a review:</h3>
                        <div class="extra-bottom">
                          <form class="new-visit" action="/api/visits" method="post">
                              <input type="text" name="visit[review]" placeholder="...review">
                              <input type="submit" name="review" value="New Visit Review">
                          </form>
                        </div>

                        <hr />

                        <ul class="visits">

                        </ul>

                    </div>
                    </div>
                    <div class="col-sm-4">
                      <h3>Places I've been:</h3>
                      <div class="profile-places">

                        <% @user.visits.each do | visit | %>

                          <div class="block">
                            <h4> <%= visit.restaurant_name %> </h4>
                            <p> <%= visit.review %> </p>
                          </div>

                        <% end %>

                          </div>
                      </div>
                      <hr />
                    </div>
                </div>



<%= javascript_include_tag 'users' %>



      </div>
    </div>
  </div>
</div>
