<div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="class-with-space red">
            <h3>Top Ten</h3>
            <p class="leaderboard-header">Name          <span class="points">Points</span></p>
            <ol>

                    <!-- Alans leaderboard fun  -->
                  <% userArray = [] %>
                  <% @users.each do |x| %>
                  <% userArray.push(x) %>
                  <% end %>
                  <% leaderBoardArray = userArray.sort_by {|user| -user.visits.length} %>
                  <% leaderBoardArray.each do |x| %>
                    <% userPoints = x.visits.length * 100 %>
                    <li><%= x.username %><span class="points"><%= userPoints %> </span></li>

                <%end %>

                    <!-- end of alans leaderboard fun-->

              <!-- <li>Eugene Bessette          <span class="points">234543</span></li>
              <li>Robert Bednarz          <span class="points">223439</span></li>
              <li>Andrew Sherwood          <span class="points">123456</span></li>
              <li>Sylvia Gall          <span class="points">108573</span></li>
              <li>Dennis Paris          <span class="points">101293</span></li>
              <li>William Griffith          <span class="points">98732</span></li>
              <li>Vincent Burns          <span class="points">97123</span></li>
              <li>Maria Lipscomb          <span class="points">96094</span></li>
              <li>Charles O'Connor          <span class="points">82493</span></li>
              <li>Hugh McDonald          <span class="points">79201</span></li> -->
            </ol>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="class-with-space white">
          <h3>Make an Account</h3>
          <!-- <form class="" action="index.html" method="post">
            <label>Username:</label><br />
            <input type="text" name="name" placeholder="Username..."><br />
            <label>Email:</label><br />
            <input type="text" name="name" placeholder="Email..."><br />
            <label>Password:</label><br />
            <input type="text" name="name" placeholder="Password..."><br />
            <label>Confirm Password:</label><br />
            <input type="text" name="name" placeholder="Password..."><br />
            <input type="submit" value="Sign Up">
          </form> -->

          <%= form_for @user do |f| %>
              <%= f.label :username %>
              <%= f.text_field :username %>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <%= f.label :image_link %>
              <%= f.text_field :image %>
              <%= f.label :tagline %>
              <%= f.text_field :tagline %>
              <%= f.submit %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
