<div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="class-with-space red">
            <h3>Top Ten</h3>
            <p class="leaderboard-header">Name          <span class="points">Points</span></p>
            <ol>

                    <!-- Alans leaderboard fun  -->
                  <% userArray = [] %>
                  <% @users.each do |x| %>
                  <% userArray.push(x) %>
                  <% end %>
                  <% leaderBoardArray = userArray.sort_by {|user| -user.visits.length} %>
                  <% leaderBoardArray.first(10).each do |x| %>
                    <% userPoints = x.visits.length * 100 %>
                    <li><%= x.username %><span class="points"><%= userPoints %> </span></li>
                <%end %>

                    <!-- end of alans leaderboard fun-->

            </ol>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="class-with-space white">
          <h3>Make an Account</h3>
        

          <%= form_for @user do |f| %>
              <%= f.label :username %>
              <%= f.text_field :username %>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <%= f.label :image_link %>
              <%= f.text_field :image %>
              <%= f.label :tagline %>
              <%= f.text_field :tagline %>
              <%= f.submit %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
