<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<div class="container">


        <div class="row">
          <div class="col-sm-12">
              <div class="class-with-space white">



                <h1 class="leaderboard-heading">Leaderboard</h1>

                <hr />


          <!-- Alan's ruby fun -->

          <% userArray = [] %>
          <% @users.each do |x| %>
          <% userArray.push(x) %>
          <% end %>
          <% leaderBoardArray = userArray.sort_by {|user| -user.visits.length} %>



          <h4 class="leaderboard-title black">Rank &nbsp; Name <span class="right-float">Points</span> </h4>
          <div id="accordion">

          <% leaderBoardArray.each do |ohyes| %>

          <% userArray = [] %>
          <% @users.each do |x| %>
          <% userArray.push(x) %>
          <% end %>
          <% myOwnArray = userArray.sort_by {|user| -user.visits.length} %>

          <% selectedPersonScore = myOwnArray.index(ohyes) + 1%>
          <% selectedPersonScore %>

          <h4 class="leaderboard-title gradient"><span class="leaderboard-rank"><%=selectedPersonScore %></span>  &nbsp; &nbsp;      <%= ohyes.username %> <span class="leaderboard-points"><%= ohyes.visits.length * 100 %></span>  </h4>
          <div class="leaderboard-box">
            <div class="leaderboard-screen">
              <% if ohyes.image == "" %>
              <%= image_tag("noprof.png", :class => "leaderboard-prof") %>
              <% elsif ohyes.image %>
              <%= image_tag("#{ohyes.image}", :class => "leaderboard-prof") %>
              <% end %>
                <h1 class="leaderboard-name">    <a href="/users/<%= ohyes.id %>">  <%= ohyes.username %>   </a> </h1>
                <p class="leaderboard-points-alt"><%= ohyes.visits.length * 100 %> Points</p>
                <p class="leaderboard-bio"><%= ohyes.tagline %></p>
            </div>
          </div>




                    <% end %>

          <!-- end of Alan's ruby fun -->






                  <!-- <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#1</span>  &nbsp; &nbsp;   Nicholas123 <span class="leaderboard-points">234432</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                        <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                        <h1 class="leaderboard-name">Nicholas123</h1>
                        <p class="leaderboard-points-alt">234432 Points</p>
                        <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div> -->

                  <!-- <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#2</span> &nbsp; &nbsp; Alan Rice   <span class="leaderboard-points">458432</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#3</span>  &nbsp; &nbsp;   Bob Saget    <span class="leaderboard-points">234382</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div>

                  <h4 class="leaderboard-title gradient"><span class="leaderboard-rank">#4</span>  &nbsp; &nbsp;   Raymond Wang   <span class="leaderboard-points">12394</span>  </h4>
                  <div class="leaderboard-box">
                    <div class="leaderboard-screen">
                      <img class="leaderboard-prof" src="http://cdn.financebuzz.io/images/2015/06/05/nicholascage.jpg">
                      <h1 class="leaderboard-name">Nicholas123</h1>
                      <p class="leaderboard-points-alt">234432 Points</p>
                      <p class="leaderboard-bio">This is my hip bio. I love pizza. Pizza pizza pizza.</p>
                    </div>
                  </div> -->

                </div><!-- end of accordion -->

              </div><!-- end -->
x

          </div>
        </div>





</div>



<script>
    $(document).on('ready', function(){
        $("#accordion").accordion();
    });
</script>
